.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  width: 100%;
}

.footer__text {
  color: white;
}

@media screen and (min-width: 1025px) {
  .footer {
    padding-bottom: 16px;
    margin-top: 30px;
  }

  .footer__text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-bottom: 16px;
    margin-top: 30px;
  }

  .footer__text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 544px) {
  .footer {
    padding-bottom: 16px;
  }

  .footer__text {
    font-size: 0.8rem;
  }
}
