.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__logo-image {
  padding-top: 34px;
}

@media screen and (max-width: 544px) {
  .header__logo-image {
    padding-top: 20px;
    width: 120px;
  }
}
