.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header__logo-image {
  padding-top: 34px;
  width: 100%;
  max-width: 280px;
  margin-bottom: 90px;
}

@media screen and (max-width: 1024px) {
  .header__logo-image {
    padding-top: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .header__logo-image {
    width: 100%;
    margin-bottom: 50px;
  }
}
