.intro {
  max-width: 830px;
  margin: 92px auto 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.intro__text-title {
  width: 100%;
  font-size: 3.2rem;
  color: white;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 40px;
  margin: 0;
}

.intro__text-quote {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 10px;
}

.intro__text-name {
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  text-align: right;
  padding-bottom: 32px;
}
.intro__text-content {
  width: 100%;
  font-size: 1.2rem;
  color: white;
  font-weight: normal;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .intro {
    max-width: 700px;
  }
}

@media (max-width: 544px) {
  .intro {
    padding: 0 24px;
  }
  .intro__text-title {
    font-size: 3.5rem;
  }

  .intro__text-quote {
    font-size: 2.5rem;
  }

  .intro__text-name {
    font-size: 2.5rem;
  }

  .intro__text-content {
    font-size: 2rem;
    padding-top: 32px;
  }
}
