.intro {
  max-width: 830px;
  display: flex;
  flex-direction: column;
  margin-top: 92px;
  margin-left: 148px;
}

.intro__text-title {
  font-size: 54px;
  color: white;
  font-weight: bold;
  line-height: 1.1;
  padding-bottom: 40px;
  margin: 0;
}

.intro__text-quote {
  max-width: 750px;
  width: 100%;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  padding-bottom: 10px;
}

.intro__text-name {
  max-width: 750px;
  font-size: 1.5rem;
  color: white;
  font-weight: normal;
  line-height: 1.1;
  margin: 0;
  text-align: right;
  padding-bottom: 32px;
}

.intro__text-content {
  max-width: 750px;
  font-size: 1.2rem;
  color: white;
  font-weight: normal;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

@media (max-width: 1024px) {
  .intro {
    width: 100%;
    margin-top: 90px;
    margin-left: 24px;
  }

  .intro__text-quote {
    width: 100%;
  }

  .intro__text-name {
    width: 100%;
  }

  .intro__text-content {
    width: 100%;
  }
}

@media (max-width: 544px) {
  .intro {
    width: 90%;
    margin-top: 64px;
    margin-left: 16px;
  }

  .intro__text-title {
    font-size: 46px;
  }

  .intro__text-quote {
    width: 100%;
    font-size: 30px;
    line-height: 1.2;
  }

  .intro__text-name {
    width: 100%;
    font-size: 30px;
  }

  .intro__text-content {
    width: 100%;
    font-size: 24px;
  }
}
