.intro {
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.intro__text-title {
  color: white;
  font-weight: bold;
  font-size: 54px;
  line-height: 1.1;
}

.intro__text-quote,
.intro__text-name,
.intro__text-content {
  color: white;
}

@media screen and (min-width: 1025px) {
  .intro {
    max-width: 830px;
    padding: 0;
    margin: 0 auto;
  }

  .intro__text-title {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .intro__text-quote {
    font-size: 1.6rem;
    margin-top: 40px;
  }

  .intro__text-name {
    font-size: 1.6rem;
    margin-top: 10px;
    text-align: right;
  }

  .intro__text-content {
    font-size: 1.2rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    width: 90%;
    margin: 0 auto;
    padding: 0;
  }

  .intro__text-title {
    font-size: 3.5rem;
    line-height: 1.2;
  }

  .intro__text-quote,
  .intro__text-content {
    font-size: 1.8rem;
    line-height: 1.2;
  }

  .intro__text-name {
    font-size: 1.8rem;
    text-align: right;
    margin-top: 0;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    padding: 0 12px;
  }

  .intro__text-title {
    font-size: 2.5rem;
  }

  .intro__text-content {
    font-size: 1.4rem;
  }

  .intro__text-quote {
    font-size: 1.8rem;
    margin-top: 20px;
  }
}
