.intro {
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.intro__text-title {
  color: white;
  font-weight: bold;
  font-size: 54px;
  line-height: 58px;
  width: 100%;
}

.intro__text-quote {
  color: white;
  margin-bottom: 0;
}

.intro__text-name {
  color: white;
  text-align: right;
  margin: 0 0 30px 0;
}

.intro__text-content {
  color: white;
  text-wrap: balance;
}

@media screen and (max-width: 544px) {
  .intro {
    box-sizing: border-box;
  }

  .intro__text-title {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2;
  }

  .intro__text-content {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    text-align: left;
  }

  .intro__text-quote {
    font-size: 2rem;
    line-height: 1.2;
    margin: 40px 4px 0 4px;
  }

  .intro__text-name {
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding-right: 40px;
    margin: 0;
  }

  .intro__text-title {
    font-size: 4.2rem;
    line-height: 1.2em;
    width: 100%;
    margin: 40px 0 0 0;
    padding-left: 20px;
    max-width: 1280px;
  }

  .intro__text-quote {
    font-size: 2.5rem;
    line-height: 1.2em;
    width: 100%;
    padding-left: 20px;
    margin: 50px 0 0 0;
  }

  .intro__text-name {
    font-size: 2rem;
    line-height: 1.2;
  }

  .intro__text-content {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    margin: 10px 4px 0 4px;
    text-align: left;
    padding-left: 20px;
  }
}

@media screen and (min-width: 1025px) {
  .intro {
    max-width: none;
    margin: 0;
    padding-left: 150px;
  }

  .intro__text-title {
    font-size: 4rem;
    line-height: 1.2;
    text-align: left;
    max-width: 830px;
    margin-bottom: 0;
  }

  .intro__text-quote {
    font-size: 2.2rem;
    line-height: 1.2;
    max-width: 738px;
    width: 100%;
    text-align: left;
    margin: 50px 0 0 0;
  }
  .intro__text-name {
    font-size: 1.8rem;
    line-height: 1.2;
    max-width: 732px;
    margin-top: 20px;
  }

  .intro__text-content {
    width: 100%;
    max-width: 722px;
    line-height: 1.4;
    padding: 0;
    font-size: 1.5rem;
  }
}
