.intro {
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.intro__text-title {
  color: white;
  font-weight: bold;
  font-size: 54px;
  line-height: 58px;
  width: 100%;
}

.intro__text-quote {
  color: white;
  margin-bottom: 0;
}

.intro__text-name {
  color: white;
  text-align: right;
  margin: 0 0 30px 0;
}

.intro__text-content {
  color: white;
  text-wrap: balance;
}

.intro__span {
  display: block;
}
