.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  color: white;
  font-size: 6rem;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 30px;
}

.lead__title-span {
  display: block;
}

.lead__subtitle {
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0;
  padding-bottom: 50px;
}

.lead__subtitle-span {
  display: block;
}

.lead__image {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 544px) {
  .lead__title {
    color: white;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    font-weight: bold;
  }

  .lead__subtitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 0 30px;
    margin: 0 auto 30px auto;
  }

  .lead__image {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .lead__title {
    margin-bottom: 40px;
    line-height: 6rem;
    max-width: 720px;
  }

  .lead__subtitle {
    font-size: 2.5rem;
    margin-top: 0;
    line-height: 4rem;
    max-width: 720px;
  }

  .lead__image {
    width: 100%;
  }
}

@media screen and (min-width: 1025px) {
  .lead__image {
    max-width: 984px;
  }

  .lead__title {
    margin-bottom: 20px;
    line-height: 6rem;
    max-width: 720px;
  }

  .lead__subtitle {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    line-height: 1.4;
    padding: 0 30px;
    margin: 0 auto 30px auto;
    max-width: 720px;
  }
}
