.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
}

.lead__title {
  color: white;
  max-width: 720px;
  font-size: 6rem;
  line-height: 1.1;
  text-align: center;
  margin: 30px 0 10px 0;
}

.lead__subtitle {
  color: white;
  max-width: 720px;
  font-size: 1.8rem;
  line-height: 1.1;
  text-align: center;
  margin: 32px 0 64px 0;
  font-weight: normal;
}

.lead__image {
  max-width: 1024px;
  height: auto;
}

@media (max-width: 1024px) {
  .lead__image {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 544px) {
  .lead__title {
    color: white;
    font-size: 5rem;
  }

  .lead__subtitle {
    font-size: 1.7rem;
  }
}
