.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  width: 100%;
}

.lead__title {
  color: white;
  max-width: 720px;
  width: 100%;

  line-height: 1.1;
  font-size: 96px;
  text-align: center;
  padding: 0;
}

.lead__subtitle {
  color: white;
  max-width: 720px;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  margin: 16px 0 64px 0;
  font-weight: normal;
  padding: 0;
}

.lead__image {
  max-width: 1024px;
  height: auto;
}

@media (max-width: 1024px) {
  .lead__image {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 544px) {
  .lead__title {
    width: 95%;
    margin-top: 0;
  }

  .lead__subtitle {
    width: 95%;
  }
}
