.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  color: white;
  font-size: 6rem;
  line-height: 0.9;
  text-align: center;
  margin: 0 0 30px 0;
}

.lead__subtitle {
  text-align: center;
  color: white;
  font-weight: normal;
  margin-top: 0;
  padding-bottom: 50px;
}

.lead__image {
  max-width: 1024px;
  height: auto;
}

@media screen and (min-width: 1025px) {
  .lead {
    max-width: 984px;
    margin: 0 auto;
  }

  .lead__title {
    font-size: 6rem;
    line-height: 1.2;
    max-width: 720px;
    margin-bottom: 20px;
  }

  .lead__subtitle {
    font-size: 2.2rem;
    line-height: 1.4;
    max-width: 720px;
    padding: 0 30px;
    margin-bottom: 4rem;
  }

  .lead__image {
    width: 90%;
    margin: 0;
  }
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 100%;
  }

  .lead__title {
    font-size: 7rem;
    margin-top: 60px;
  }

  .lead__subtitle {
    font-size: 2.8rem;
    line-height: 1.2;
    width: 95%;
    margin-top: 20px;
  }

  .lead__image {
    width: 100%;
  }
}

@media screen and (max-width: 544px) {
  .lead__title {
    font-size: 5rem;
    line-height: 1.1;
    padding: 10px;
    margin-bottom: 0;
    width: 90%;
  }

  .lead__subtitle {
    font-size: 1.5rem;
    padding: 0 10px;
    margin-bottom: 40px;
    width: 90%;
  }

  .lead__image {
    width: 100%;
  }
}
