.main {
  width: 100%;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  color: white;
  font-size: 6rem;
  line-height: 0.8;
  text-align: center;
  margin-bottom: 30px;
}

.lead__title-span {
  display: block;
}

.lead__subtitle {
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 1.5rem;
  margin-top: 0;
  padding-bottom: 50px;
}

.lead__subtitle-span {
  display: block;
}

.lead__image {
  width: 100%;
  height: auto;
}

.intro {
  padding: 0 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.intro__text-title {
  color: white;
  font-weight: bold;
  font-size: 54px;
  line-height: 58px;
  width: 100%;
}

.intro__text-quote {
  color: white;
  margin-bottom: 0;
}

.intro__text-name {
  color: white;
  text-align: right;
  margin: 0 0 30px 0;
}

.intro__text-content {
  color: white;
  text-wrap: balance;
}

.intro__span {
  display: block;
}
