@media screen and (max-width: 544px) {
  .header__logo-image {
    padding-top: 20px;
    width: 120px;
  }

  .lead__title {
    color: white;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    padding: 10px;
    margin-bottom: 0;
    font-weight: bold;
  }

  .lead__subtitle {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    line-height: 1.4;
    padding: 0 30px;
    margin: 0 auto 30px auto;
  }

  .lead__image {
    width: 100%;
  }

  .intro {
    padding: 0 12px;
    width: 90%;
    margin: 0 auto;
  }

  .intro__text-title {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1.2;
    margin: 40px 0 0 0;
  }

  .intro__text-content {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    margin: 0 4px;
    text-align: left;
  }

  .intro__text-quote {
    font-size: 2rem;
    line-height: 1.2;
    margin: 40px 4px 0 4px;
  }

  .intro__text-name {
    font-size: 2rem;
    line-height: 1.2;
  }

  .footer {
    padding-bottom: 16px;
  }

  .footer__text {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    margin: 0;
    padding: 0;
  }

  .lead {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .lead__title {
    margin-bottom: 20px;
    line-height: 6rem;
  }

  .lead__subtitle {
    font-size: 2.8rem;
    margin-top: 0;
    line-height: 4rem;
  }

  .lead__image {
    margin: 0;
  }

  .intro {
    padding-right: 40px;
    margin: 0;
  }

  .intro__text-title {
    font-size: 4.2rem;
    line-height: 1.2em;
    width: 100%;
    margin: 40px 0 0 0;
    padding-left: 20px;
  }

  .intro__text-quote {
    font-size: 2.5rem;
    line-height: 1.2em;
    width: 100%;
    padding-left: 20px;
    margin: 50px 0 0 0;
  }

  .intro__text-name {
    font-size: 2rem;
    line-height: 1.2;
  }

  .intro__text-content {
    font-size: 1.5rem;
    line-height: 1.5;
    width: 100%;
    margin: 10px 4px 0 4px;
    text-align: left;
    padding-left: 20px;
  }

  .footer {
    padding-bottom: 16px;
    margin-top: 30px;
  }

  .footer__text {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1025px) {
  .intro {
    min-height: 100%;
  }

  .intro__text-title {
    font-size: 4.8rem;
    line-height: 1.2em;
    width: 100%;
    margin: 40px 0 0 0;
    padding-left: 20px;
  }

  .intro__text-quote {
    font-size: 2.5rem;
    line-height: 1.2em;
    width: 100%;
    padding-left: 20px;
    margin: 50px 0 0 0;
  }

  .intro__text-name {
    font-size: 2rem;
    line-height: 1.2;
  }

  .intro__text-content {
    font-size: 2rem;
    line-height: 1.5;
    width: 100%;
    margin: 10px 4px 0 4px;
    text-align: left;
    padding-left: 20px;
  }

  .footer {
    padding-bottom: 16px;
    margin-top: 30px;
  }

  .footer__text {
    font-size: 1.2rem;
  }
}
