.photo-grid__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;
  list-style: none;
  margin: 118px auto 18px;
  padding: 0px;
  max-width: 1020px;
}

.photo-grid__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .photo-grid__list {
    grid-template-columns: 1fr 1fr;
    padding: 0 24px;
    margin: 96px auto 18px;
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 544px) {
  .photo-grid__list {
    grid-template-columns: 1fr;
    padding: 0;
    margin-bottom: 60px 0 0 0;
    width: 100%;
    max-width: 100%;
  }

  .photo-grid__image {
    object-fit: cover;
  }
}
