.places {
  max-width: 1000px;
  width: 100%;
  margin: 80px auto;
}

.places__location {
  max-width: 1000px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;

  grid-template-areas:
    "title     artists"
    "image     text"
    "button    text";

  column-gap: 40px;
  row-gap: 48px;
  margin-bottom: 60px;
}

.places__title {
  grid-area: title;

  font-family: "Inter", sans-serif;
  font-weight: 900;

  font-size: 72px;
  max-width: 460px;
  width: 100%;

  line-height: 1.04;
  color: white;

  margin: 0;
}

.places__website {
  grid-area: artists;

  font-family: "Inter", sans-serif;
  font-weight: 400;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 4px;
  align-self: end;
}

.places__artist-heading {
  text-transform: uppercase;

  font-size: 12px;
  max-width: 90px;
  width: 100%;

  letter-spacing: 2px;
  color: #aaaaaa;
  padding: 0;
  margin: 0 0 8px 0;
}

.places__artists {
  margin: 0;
  color: white;
  font-size: 18px;
  max-width: 350px;
  width: 100%;
}

.places__image {
  grid-area: image;
  height: 460px;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.places__text {
  grid-area: text;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.places__paragraph {
  max-width: 600px;
  font-size: 18px;
  width: 100%;

  line-height: 1.6;
  color: white;
  margin: 0;
  padding: 0;
}

.places__button {
  grid-area: button;
  background: linear-gradient(to right, #0278fe, #003a7b);
  color: white;
  padding: 10px 25px;
  max-width: 600px;
  width: 100%;

  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: start;
}

@media (max-width: 1024px) {
  .places {
    width: 90%;
  }

  .places__title {
    font-size: 42px;
    width: 100%;
  }

  .places__artist-heading {
    font-size: 12px;
  }

  .places__artists {
    font-size: 18px;
    width: 100%;
  }

  .places__image {
    width: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
  }

  .places__button {
    width: 100%;
    margin: 0;
    align-self: start;
  }
}

@media (max-width: 544px) {
  .places__location {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "artists"
      "image"
      "text"
      "button";

    width: 100%;
  }

  .places {
    width: 90%;
  }

  .places__title {
    width: 100%;
  }

  .places__artist-heading {
    width: 100%;
  }

  .places__artists {
    width: 100%;
  }

  .places__paragraph {
    font-size: 20px;
    width: 100%;
  }

  .places__image {
    width: 100%;
    object-fit: cover;
  }

  .places__button {
    width: 100%;
  }
}
